.page {
  font-family: 'Inter', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 880px;
  width: 68.75%;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
