.popup__container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .popup__container {
    width: 282px;
    top: 123px;
    left: calc((100% - 282px) / 2);
    transform: none;

  }
}
