.element__description {
  max-width: 282px;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 0 0 10px 10px;
  justify-content: space-between;
  grid-template-columns: calc(100% - 21px - 30px - 22px - 20px) 22px;
}
