.button-add {
  box-sizing: border-box;
  background-color: #000;
  background-image: url(../../images/button-add.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 150px;
  height: 50px;
  border: 2px solid #FFFFFF;
  border-radius: 2px;
}

.button-add:hover {
  opacity: .6;
  cursor: pointer;
  transition: .7s;
}
